In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

### To check catalog data loans table

In [0]:
%sql
select * from customer.customer_db.loans

Customer_ID,Age,Gender,Occupation,Marital Status,Family Size,Income,Expenditure,Use Frequency,Loan Category,Loan Amount,Overdue,Debt Record,Returned Cheque,Dishonour of Bill
IB14001,30,MALE,BANK MANAGER,SINGLE,4,50000,22199,6,HOUSING,"10,00,000",5,"42,898",6,9
IB14008,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,SHOPPING,"50,000",3,"33,999",1,5
IB14012,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14018,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
IB14022,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14024,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,AUTOMOBILE,"47,787",1,"50,000",0,3
IB14025,39,FEMALE,TEACHER,MARRIED,6,46619,18675,4,HOUSING,"12,09,867",8,"29,999",6,8
IB14027,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,RESTAURANTS,"60,676",8,"13,000",2,5
IB14029,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14031,37,FEMALE,SOFTWARE ENGINEER,MARRIED,5,55999,23999,5,AUTOMOBILE,"60,999",2,0,5,3
IB14032,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,AUTOMOBILE,"35,232",5,"33,333",1,2
IB14034,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,COMPUTER SOFTWARES,"80,660",6,"4,500",5,4
IB14037,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14039,45,MALE,ACCOUNT MANAGER,MARRIED,7,45777,18452,4,GOLD LOAN,"9,87,611",7,"39,999",8,1
IB14041,59,FEMALE,ASSISTANT PROFESSOR,MARRIED,4,50999,22999,5,EDUCATIONAL LOAN,"5,99,934",3,"9,000",9,9
IB14042,25,FEMALE,DOCTOR,SINGLE,4,60111,27111,5,TRAVELLING,"12,90,929",4,"18,000",1,0
IB14045,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14049,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,TRAVELLING,"79,999",4,"6,700",7,3
IB14050,56,MALE,CIVIL ENGINEER,MARRIED,4,null,13999,3,HOUSING,"10,65,577",6,"19,999",4,2
IB14054,58,FEMALE,DOCTOR,MARRIED,5,60000,25000,5,HOUSING,"9,00,000",5,"21,000",9,0
IB14057,25,MALE,AIRPORT OFFICER,SINGLE,4,40000,18888,3,RESTAURANTS,"4,00,000",8,"11,111",1,7
IB14060,36,FEMALE,CLERK,MARRIED,4,35000,15000,3,HOUSING,"3,00,000",2,"5,600",4,8
IB14070,40,MALE,PUBLIC WORKS,MARRIED,4,38000,20000,3,GOLD LOAN,"4,00,000",9,"19,954",3,2
IB14078,45,FEMALE,FIRE DEPARTMENT,MARRIED,4,40000,18888,4,AUTOMOBILE,"70,000",1,0,2,1
IB14079,25,MALE,CLERK,SINGLE,3,35000,9000,2,GOLD LOAN,"1,00,000",3,"12,584",1,2
IB14082,60,FEMALE,TEACHER,MARRIED,5,70000,40000,9,GOLD LOAN,"2,57,789",4,"10,058",4,3
IB14085,30,MALE,ELECTRICIAN,MARRIED,4,30000,15000,5,HOUSING,"3,54,789",5,"32,154",5,5
IB14086,51,FEMALE,TECHNICIAN,MARRIED,5,30000,null,5,RESTAURANTS,"1,25,463",7,"52,634",4,10
IB14089,25,MALE,PROFESSOR,SINGLE,5,62145,31254,4,BOOK STORES,"12,45,789",6,"48,596",6,5
IB14092,47,MALE,SYSTEM ENGINEER,MARRIED,4,52364,45612,3,GOLD LOAN,"6,54,725",4,"67,451",5,4
1B14093,21,FEMALE,MANAGER,SINGLE,3,42516,24567,7,AUTOMOBILE,"25,69,874",8,"89,652",2,3
1B14094,49,MALE,ASSISTANT PROFESSOR,MARRIED,5,65214,42589,5,HOUSING,"9,85,412",5,"11,254",1,2
IB14096,33,FEMALE,CLERK,MARRIED,3,35684,15247,3,RESTAURANTS,"14,52,637",3,"13,547",3,2
IB14099,47,FEMALE,DOCTOR,MARRIED,4,72154,45286,4,AUTOMOBILE,"7,54,126",2,"19,524",5,2
IB14101,33,FEMALE,PRODUCT ENGINEER,MARRIED,5,null,45812,5,AUTOMOBILE,"8,52,416",4,"17,524",6,3
IB14104,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,32541,2,AUTOMOBILE,"20,45,789",1,"16,599",2,3
IB14106,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,TRAVELLING,"15,24,789",7,"90,000",2,5
IB14107,44,FEMALE,ACCOUNT MANAGER,MARRIED,4,800000,15632,8,AUTOMOBILE,"23,65,478",5,"20,145",3,4
IB14109,56,MALE,DRIVER,MARRIED,5,30000,15426,7,TRAVELLING,"9,21,456",6,"20,000",4,6
IB14111,57,FEMALE,CORPORATE OFFICER,MARRIED,3,52143,null,4,COMPUTER SOFTWARES,"75,41,236",4,"11,111",3,2
IB14113,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,SHOPPING,"5,87,412",7,"65,412",3,2
IB14115,41,MALE,BANK MANAGER,MARRIED,6,64125,21246,6,TRAVELLING,"6,52,147",5,"16,524",3,3
IB14117,39,FEMALE,SYSTEM OFFICER,MARRIED,6,null,32541,5,EDUCATIONAL LOAN,"1,02,256",3,"14,256",4,4
IB14120,47,FEMALE,TEACHER,MARRIED,3,50000,42563,4,RESTAURANTS,"6,54,120",6,"45,127",2,3
IB14121,33,MALE,DOCTOR,MARRIED,6,70000,12541,8,HOUSING,"7,45,213",4,"19,541",1,3
IB14123,36,MALE,ELECTRICIAN,MARRIED,2,36985,25648,6,AUTOMOBILE,"9,85,413",7,"20,000",5,3
IB14125,29,FEMALE,TEACHER,MARRIED,4,59999,42568,4,AUTOMOBILE,"52,14,789",5,"17,452",2,2
IB14126,57,MALE,FIRE DEPARTMENT,MARRIED,5,54123,null,7,RESTAURANTS,"41,23,65",6,"18,524",2,1
IB14128,46,FEMALE,CLERK,MARRIED,3,750000,25641,5,GOLD LOAN,"2,14,569",4,"16,324",3,4
IB14130,43,MALE,PRODUCT ENGINEER,MARRIED,4,50147,45863,8,COMPUTER SOFTWARES,"7,85,241",8,"19,999",3,5
IB14134,33,MALE,DOCTOR,MARRIED,6,70000,33541,8,BUILDING,"7,45,213",4,"19,541",1,3
IB14136,36,MALE,ELECTRICIAN,MARRIED,2,36985,25648,6,ELECTRONICS,"9,85,413",7,"20,000",5,3
IB14138,27,FEMALE,SOFTWARE ENGINEER,SINGLE,4,40000,22000,4,GOLD LOAN,"4,00,000",4,"15,647",5,3
IB14140,45,MALE,BANK MANAGER,MARRIED,6,55670,32500,5,TRAVELLING,"2,00,560",3,"34,600",4,4
IB14143,34,FEMALE,TEACHER,MARRIED,4,45389,null,5,HOME APPLIANCES,"3,50,050",4,"24,000",4,3
IB14145,45,FEMALE,CLERK,MARRIED,5,40560,38789,6,TRAVELLING,"7,85,000",6,"29,650",6,7
IB14146,56,MALE,FIRE DEPARTMENT,MARRIED,6,67890,34567,5,TRAVELLING,"6,78,500",5,"13,560",3,4
IBI4148,46,MALE,SYSTEM OFFICER,MARRIED,5,56780,24560,5,GOLD LOAN,"8,54,000",6,"23,700",6,4
IBI4150,38,FEMALE,ACCOUNT MANAGER,MARRIED,4,45600,19870,4,HOME APPLIANCES,"7,65,040",5,"35,700",5,4
IBI4153,58,MALE,SYSTEM ENGINEER,MARRIED,6,76800,null,5,TRAVELLING,"16,59,080",6,"29,000",5,3
IBI4155,24,FEMALE,SOFTWARE ENGINEER,SINGLE,4,55680,29000,5,AUTOMOBILE,"7,89,000",5,"24,000",6,4
IBI4157,35,MALE,BANK MANAGER,MARRIED,4,930000,35680,6,HOUSING,"6,79,040",5,"34,000",5,5
IB14158,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,AUTOMOBILE,"20,45,789",1,"16,599",2,3
IB14160,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,TRAVELLING,"15,24,789",7,"90,000",2,5
IB14163,44,FEMALE,ACCOUNT MANAGER,MARRIED,4,800000,15632,8,COMPUTER SOFTWARES,"23,65,478",5,"20,145",3,4
IB14164,56,MALE,DRIVER,MARRIED,5,30000,15426,7,TRAVELLING,"9,21,456",6,"20,000",4,6
IB14167,57,FEMALE,CORPORATE OFFICER,MARRIED,3,52143,null,4,AUTOMOBILE,"75,41,236",4,"11,111",3,2
IB14169,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,SHOPPING,"5,87,412",7,"65,412",3,2
IB14171,47,FEMALE,DOCTOR,MARRIED,4,72154,45286,4,AUTOMOBILE,"7,54,126",2,"19,524",5,2
IB14173,33,FEMALE,PRODUCT ENGINEER,MARRIED,5,null,45812,5,SHOPPING,"8,52,416",4,"17,524",6,3
IB14176,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14178,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,ELECTRONICS,"60,676",8,"13,000",2,5
IB14179,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14181,37,FEMALE,SOFTWARE ENGINEER,MARRIED,5,55999,23999,5,HOME APPLIANCES,"60,999",2,0,5,3
IB14184,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,RESTAURANTS,"35,232",5,"33,333",1,2
IB14186,44,MALE,PROFESSOR,MARRIED,6,59000,19999,4,AUTOMOBILE,"50,000",3,"33,999",1,5
IB14187,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14189,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
IB14191,34,MALE,POLICE,SINGLE,4,44521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14194,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,TRAVELLING,"47,787",1,"50,000",0,3
IB14195,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,SHOPPING,"80,660",6,"4,500",5,4
IB14197,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"300,999",1,"12,000",7,5
IB14199,45,MALE,ACCOUNT MANAGER,MARRIED,7,45777,18452,4,GOLD LOAN,"9,87,611",7,"39,999",8,1
IB14201,59,FEMALE,ASSISTANT PROFESSOR,MARRIED,4,60999,22999,5,AUTOMOBILE,"5,99,934",3,"9,000",9,9
IBI4202,35,MALE,BANK MANAGER,MARRIED,4,67500,25780,6,AUTOMOBILE,"6,79,040",5,"34,000",5,5
IB14204,54,MALE,AIRPORT OFFICER,MARRIED,6,81000,62541,2,DINNING,"20,45,789",1,"16,599",2,3
IB14206,51,MALE,SYSTEM MANAGER,MARRIED,3,39999,19111,5,AUTOMOBILE,"60,676",8,"13,000",2,5
IB14208,36,FEMALE,CLERK,MARRIED,4,45300,15000,3,HOUSING,"3,00,000",2,"5,600",4,8
IB14210,40,MALE,PUBLIC WORKS,MARRIED,4,38000,20000,3,GOLD LOAN,"4,00,000",9,"19,954",3,2
IB14213,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,AUTOMOBILE,"1,67,654",1,"4,500",0,1
IB14215,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,TRAVELLING,"79,999",4,"6,700",7,3
IB14216,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,RESTAURANTS,"35,232",5,"33,333",1,2
IB14218,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,SHOPPING,"50,000",3,"33,999",1,5
IB14220,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14221,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14224,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,HOME APPLIANCES,"79,999",4,"6,700",7,3
IB14225,56,MALE,CIVIL ENGINEER,MARRIED,4,null,13999,3,HOUSING,"10,65,577",6,"19,999",4,2
IB14227,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14229,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,ELECTRONICS,"60,676",8,"13,000",2,5
IB14231,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14233,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,AUTOMOBILE,"80,660",6,"4,500",5,4
IB14235,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14236,45,MALE,ACCOUNT MANAGER,MARRIED,7,45777,18452,4,GOLD LOAN,"9,87,611",7,"39,999",8,1
IB14238,59,FEMALE,ASSISTANT PROFESSOR,MARRIED,4,50999,22999,5,EDUCATIONAL LOAN,"5,99,934",3,"9,000",9,9
IB14239,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
IB14240,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14242,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,SHOPPING,"47,787",1,"50,000",0,3
IB14244,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,COMPUTER SOFTWARES,"80,660",6,"4,500",5,4
IB14245,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14247,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,TRAVELLING,"15,24,789",7,"90,000",2,5
IB14249,44,FEMALE,ACCOUNT MANAGER,MARRIED,4,700000,15632,8,COMPUTER SOFTWARES,"23,65,478",5,"20,145",3,4
IB14251,56,MALE,DRIVER,MARRIED,5,30000,15426,7,GOLD LOAN,"9,21,456",6,"20,000",4,6
IB14253,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,42541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14254,29,MALE,FIRE DEPARTMENT,MARRIED,5,43213,22457,9,TRAVELLING,"15,24,789",7,"90,000",2,5
IB14256,44,FEMALE,ACCOUNT MANAGER,MARRIED,4,800000,15632,8,COMPUTER SOFTWARES,"23,65,478",5,"20,145",3,4
IB14258,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
IB14260,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14261,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,SHOPPING,"47,787",1,"50,000",0,3
IB14263,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,COMPUTER SOFTWARES,"80,660",6,"4,500",5,4
IB14265,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14267,55,FEMALE,ASSISTANT PROFESSOR,MARRIED,6,34999,19888,4,SHOPPING,"47,787",1,"50,000",0,3
IB14269,32,MALE,SOFTWARE ENGINEER,MARRIED,6,null,29000,7,COMPUTER SOFTWARES,"80,660",6,"4,500",5,4
IB14270,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14272,43,MALE,PRODUCT ENGINEER,MARRIED,4,50147,45863,8,COMPUTER SOFTWARES,"7,85,241",8,"19,999",3,5
IB14273,33,MALE,DOCTOR,MARRIED,6,70000,41541,8,BUILDING,"7,45,213",4,"19,541",1,3
IB14275,36,MALE,ELECTRICIAN,MARRIED,2,36985,25648,6,ELECTRONICS,"9,85,413",7,"20,000",5,3
IB14277,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,SHOPPING,"5,87,412",7,"65,412",3,2
IB14278,41,MALE,BANK MANAGER,MARRIED,6,64125,51246,6,TRAVELLING,"6,52,147",5,"16,524",3,3
IB14280,39,FEMALE,SYSTEM OFFICER,MARRIED,6,null,32541,5,EDUCATIONAL LOAN,"1,02,256",3,"14,256",4,4
IB14282,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,ELECTRONICS,"60,676",8,"13,000",2,5
IB14283,36,FEMALE,CLERK,MARRIED,4,35000,15000,3,HOUSING,"3,00,000",2,"5,600",4,8
IB14285,40,MALE,PUBLIC WORKS,MARRIED,4,38000,20000,3,GOLD LOAN,"4,00,000",9,"19,954",3,2
IB14287,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14288,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,TRAVELLING,"79,999",4,"6,700",7,3
IB14289,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,HOUSING,"4,77,870",1,"50,000",0,3
IB14291,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,SHOPPING,"80,660",6,"4,500",5,4
IB14293,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,TRAVELLING,"30,999",1,"12,000",7,5
IBI4294,24,FEMALE,SOFTWARE ENGINEER,SINGLE,4,49680,25000,5,GOLD LOAN,"7,89,000",5,"24,000",6,4
IBI4296,35,MALE,BANK MANAGER,MARRIED,4,75250,29865,6,RESTAURANTS,"6,79,040",5,"34,000",5,5
IB14299,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,39541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14301,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
IB14303,56,MALE,CIVIL ENGINEER,MARRIED,4,null,13999,3,HOUSING,"10,65,577",6,"19,999",4,2
IB14304,30,MALE,ELECTRICIAN,MARRIED,4,30000,15000,5,HOUSING,"3,54,789",5,"32,154",5,5
IB14306,51,FEMALE,TECHNICIAN,MARRIED,5,30000,null,5,AUTOMOBILE,"1,25,463",7,"52,634",4,10
IB14309,25,MALE,PROFESSOR,SINGLE,5,62145,31254,4,AUTOMOBILE,"12,45,789",6,"48,596",6,5
IB14311,47,MALE,SYSTEM ENGINEER,MARRIED,4,52364,45612,3,GOLD LOAN,"6,54,725",4,"67,451",5,4
1B14312,21,FEMALE,MANAGER,SINGLE,3,42516,24567,7,EDUCATIONAL LOAN,"25,69,874",8,"89,652",2,3
1B14315,49,MALE,ASSISTANT PROFESSOR,MARRIED,5,65214,42589,5,HOUSING,"9,85,412",5,"11,254",1,2
IB14317,26,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14318,45,FEMALE,ASSISTANT PROFESSOR,MARRIED,6,52361,34154,6,AUTOMOBILE,"596,851",7,0,2,9
IB14320,29,MALE,SOFTWARE ENGINEER,MARRIED,2,38170,19224,5,SHOPPING,"329,277",2,57381,5,7
IB14321,28,MALE,TEACHER,MARRIED,7,31747,17995,8,COMPUTER SOFTWARES,"720,712",8,66706,1,7
IB14324,52,MALE,PRODUCT ENGINEER,MARRIED,6,74044,16278,5,RESTAURANTS,"609,331",5,84319,9,2
IB14326,37,MALE,DOCTOR,SINGLE,2,56856,23678,7,TRAVELLING,"588,690",8,87171,4,3
IB14327,44,MALE,ELECTRICIAN,MARRIED,5,67214,20246,6,COMPUTER SOFTWARES,"890,480",5,46654,5,3
IB14329,54,FEMALE,ASSISTANT MANAGER,MARRIED,5,59392,25605,8,GOLD LOAN,"1,219,814",6,39948,7,9
IB14331,29,MALE,BANK MANAGER,MARRIED,5,null,19326,6,DINNING,"188,617",4,38410,4,1
IB14333,48,FEMALE,DATA ANALYST,MARRIED,4,57097,16144,6,TRAVELLING,"917,886",4,89636,8,1
IB14336,51,MALE,PROFESSOR,MARRIED,4,69401,28234,6,SHOPPING,"733,568",2,38457,8,4
IB14337,51,FEMALE,DENTIST,MARRIED,7,58465,null,8,AUTOMOBILE,"569,189",5,27059,4,9
IB14339,50,MALE,STORE KEEPER,MARRIED,6,35918,19202,5,SHOPPING,"612,770",1,31774,9,4
IB14340,55,MALE,BANK MANAGER,MARRIED,7,51346,21710,4,DINNING,"766,547",7,21170,1,9
IB14342,29,FEMALE,CIVIL ENGINEER,MARRIED,6,75415,29047,8,ELECTRONICS,"312,842",2,60993,9,1
IB14344,43,MALE,AIRPORT OFFICER,MARRIED,7,null,28032,8,HOUSING,"1,691,451",7,64718,0,4
IB14346,44,FEMALE,TEACHER,MARRIED,2,63953,18376,4,RESTAURANTS,"1,479,399",4,69956,9,4
IB14349,46,MALE,DOCTOR,MARRIED,3,53852,28974,6,BOOK STORES,"587,831",7,72810,4,5
IB14352,32,FEMALE,ELECTRICIAN,MARRIED,5,70449,null,8,GOLD LOAN,"1,092,176",7,64685,0,6
IB14354,42,MALE,TEACHER,MARRIED,3,57578,23000,8,EDUCATIONAL LOAN,"1,314,542",3,68060,8,4
IB14357,45,MALE,FIRE DEPARTMENT,MARRIED,2,77805,16699,5,HOUSING,"1,115,164",3,87189,2,2
IB14359,46,MALE,CLERK,MARRIED,5,54529,27102,4,COMPUTER SOFTWARES,"988,339",7,22119,7,3
IB14361,37,FEMALE,PRODUCT ENGINEER,SINGLE,6,null,28140,5,AUTOMOBILE,"819,281",8,27586,6,8
IB14363,37,MALE,DOCTOR,MARRIED,3,32753,26219,5,SHOPPING,"621,260",7,76545,0,3
IB14365,25,MALE,CIVIL ENGINEER,MARRIED,7,46880,18559,8,DINNING,"495,013",5,36419,5,8
IB14369,37,FEMALE,DOCTOR,MARRIED,5,57453,null,6,TRAVELLING,"462,585",1,72488,9,8
IB14371,53,MALE,AIRPORT OFFICER,MARRIED,5,73093,19194,7,COMPUTER SOFTWARES,"446,448",7,27801,8,0
IB14373,31,MALE,CLERK,MARRIED,4,32714,23632,6,GOLD LOAN,"914,249",1,36394,0,0
IB14375,53,FEMALE,PUBLIC WORKS,MARRIED,6,41645,25095,8,COMPUTER SOFTWARES,"890,578",8,59922,8,2
IB14377,54,MALE,FIRE DEPARTMENT,MARRIED,2,80000,25318,8,SHOPPING,"660,937",1,28195,7,6
IB14378,24,FEMALE,CLERK,MARRIED,3,47361,19718,8,TRAVELLING,"722,040",4,21323,2,1
IB14380,41,FEMALE,NURSE,MARRIED,5,36784,null,4,HOUSING,"1,232,534",9,60243,3,1
IB14383,56,MALE,PRODUCT ENGINEER,MARRIED,5,44130,27092,8,SHOPPING,"426,730",1,76010,9,0
IB14384,25,MALE,TEACHER,MARRIED,7,64528,21231,5,TRAVELLING,"506,450",1,64918,5,3
IB14387,26,MALE,SOFTWARE ENGINEER,MARRIED,4,43587,24799,8,GOLD LOAN,"885,302",9,31190,5,6
IB14390,43,FEMALE,BANK MANAGER,MARRIED,6,95247,36035,6,HOUSING,"1,080,007",7,19931,6,2
IB14392,36,MALE,AIRPORT OFFICER,MARRIED,7,48749,18330,6,SHOPPING,"793,130",5,14684,1,1
IB14395,36,FEMALE,TEACHER,SINGLE,7,43518,null,8,TRAVELLING,"681,886",9,56090,0,0
IB14397,33,MALE,BANK MANAGER,MARRIED,2,70248,22559,5,GOLD LOAN,"642,016",3,84023,6,2
IB14399,50,FEMALE,PROFESSOR,MARRIED,2,84802,21896,5,TRAVELLING,"814,059",5,84640,1,5
IB14400,35,MALE,DENTIST,MARRIED,5,36742,18767,8,COMPUTER SOFTWARES,"594,320",1,31082,8,8
IB14403,28,FEMALE,TEACHER,MARRIED,3,null,19339,8,GOLD LOAN,"1,585,799",7,82089,2,3
IB14406,41,MALE,POLICE,MARRIED,3,33312,21921,5,DINNING,"645,167",2,26766,8,5
IB14408,38,FEMALE,NURSE,MARRIED,6,42490,25775,7,TRAVELLING,"890,564",6,67559,0,4
IB14410,52,MALE,TEACHER,MARRIED,4,75831,27487,5,GOLD LOAN,"882,714",4,73794,6,4
IB14413,36,MALE,SYSTEM MANAGER,MARRIED,5,69163,29339,4,HOME APPLIANCES,"740,836",1,67935,6,5
IB14418,40,FEMALE,TEACHER,MARRIED,6,77627,null,8,TRAVELLING,"800,400",1,19990,4,0
IB14420,43,MALE,SOFTWARE ENGINEER,MARRIED,2,null,23080,7,COMPUTER SOFTWARES,"559,276",4,66963,1,8
IB14421,42,FEMALE,DATA ANALYST,MARRIED,4,77671,24112,6,TRAVELLING,"859,268",4,89027,1,6
IB14423,50,MALE,PRODUCT ENGINEER,MARRIED,2,78863,17361,7,DINNING,"427,457",7,48783,1,8
IB14427,55,MALE,POLICE,MARRIED,2,60403,15913,5,SHOPPING,"738,306",7,54387,0,7
IB14430,39,FEMALE,NURSE,MARRIED,5,43323,27877,8,TRAVELLING,"841,365",1,56142,5,4
IB14433,51,MALE,TEACHER,MARRIED,4,42978,29709,5,GOLD LOAN,"1,552,596",8,44746,9,2
IB14436,24,FEMALE,SYSTEM MANAGER,SINGLE,4,38401,27512,7,RESTAURANTS,"744,697",4,42166,4,2
IB14439,37,MALE,TEACHER,MARRIED,7,79320,19187,6,DINNING,"649,791",6,18033,8,0
IB14440,24,MALE,SOFTWARE ENGINEER,SINGLE,2,31107,21316,7,GOLD LOAN,"1,216,788",6,76049,1,5
IB14442,32,MALE,DATA ANALYST,MARRIED,6,31948,19502,7,HOUSING,"1,286,679",3,79111,4,4
IB14444,54,FEMALE,PRODUCT ENGINEER,MARRIED,4,67184,17813,7,HOUSING,"1,254,038",2,80008,3,1
IB14446,45,MALE,TEACHER,MARRIED,5,null,20185,5,GOLD LOAN,"1,218,291",7,71089,6,0
IB14447,29,FEMALE,ACCOUNT MANAGER,MARRIED,3,55475,28095,4,DINNING,"484,774",3,81050,6,0
IB14449,44,MALE,ASSISTANT PROFESSOR,MARRIED,4,44090,19351,6,TRAVELLING,"734,412",2,15510,8,0
IB14450,29,FEMALE,DOCTOR,MARRIED,5,66138,21787,7,COMPUTER SOFTWARES,"876,711",2,31792,7,4
IB14453,34,MALE,CLERK,MARRIED,7,61207,15955,7,GOLD LOAN,"1,172,914",4,20405,8,0
IB14457,55,MALE,CIVIL ENGINEER,MARRIED,4,58784,18480,4,AUTOMOBILE,"914,252",4,84095,1,3
IB14459,32,MALE,DOCTOR,MARRIED,4,35472,18340,6,SHOPPING,"571,540",9,52731,0,0
IB14461,54,FEMALE,AIRPORT OFFICER,MARRIED,6,50000,null,5,COMPUTER SOFTWARES,"754,507",8,37106,7,9
IB14463,55,MALE,CLERK,MARRIED,3,51301,17208,4,RESTAURANTS,"642,497",4,12809,4,1
IB14466,24,MALE,PUBLIC WORKS,SINGLE,3,45228,27839,7,SHOPPING,"439,976",8,57559,1,7
IB14467,35,MALE,FIRE DEPARTMENT,MARRIED,4,44522,21803,7,COMPUTER SOFTWARES,"554,802",4,80968,9,4
IB14469,54,MALE,CLERK,MARRIED,3,null,21707,7,RESTAURANTS,"639,794",6,22093,9,0
IB14470,29,MALE,NURSE,SINGLE,6,51199,15753,5,COMPUTER SOFTWARES,"331,716",3,57156,3,0
IB14472,44,FEMALE,PRODUCT ENGINEER,MARRIED,2,48613,21617,4,BUILDING,"723,932",5,10154,5,1
IB14472,56,MALE,TEACHER,MARRIED,7,34836,18984,4,ELECTRONICS,"692,037",2,42068,5,5
IB14476,29,MALE,SOFTWARE ENGINEER,SINGLE,5,30454,22210,4,SHOPPING,"763,036",6,37762,7,9
IB14479,34,MALE,BANK MANAGER,MARRIED,5,73070,26306,4,TRAVELLING,"887,941",4,10604,5,1
IB14480,55,MALE,AIRPORT OFFICER,MARRIED,7,56314,19648,7,EDUCATIONAL LOAN,"977,934",2,78193,9,0

### convert sql to saprk

In [0]:
data = spark.sql("select * from customer.customer_db.loans")

display(data)

### schema check and total data count

In [0]:
data.printSchema()
data.count()

### to check if any null values in all columns

In [0]:
null_check = data.select([count(when(col(a).isNull(),a)).alias(a) for a in data.columns])

display(null_check)

### replace column null data to values

In [0]:
null_fill = data.fillna({"Income": 0, "Expenditure": 0})

display(null_fill)

### create schema and datas

In [0]:
schema = '''

ID int,
Name String,
Age int,
Gender String,
City String 

'''


data = [
    (1,"suresh",25,"Male","Bangalore"),
    (2,"kumar",30,"Male","Mumbai"),
    (3,"murugan",35,"Male","Chennai"),
    (4,"Priya",28,"Female","Delhi")
    ]

df = spark.createDataFrame(data, schema)
display(df)

In [0]:
df.printSchema()
df.count()

### To check catalog data bigmart sales table

In [0]:
%sql
select * from customer.customer_db.big_mart_sales

### convert sql to spark

In [0]:
mart_data = spark.sql("select * from customer.customer_db.big_mart_sales")

display(mart_data)

### Schema and count

In [0]:
mart_data.printSchema()
mart_data.count()

In [0]:
check_null = mart_data.select([count(when(col(a).isNull(),a)).alias(a) for a in mart_data.columns])

display(check_null)

In [0]:
fill_null = mart_data.fillna({"Item_Weight": 0, "Outlet_Size": "No size"})

display(fill_null)

### TRANSFORMATIONS

### SELECT

In [0]:
df = fill_null.select(col("Item_Identifier"),col("Item_Weight"),col("Item_Fat_Content"))

display(df)

### ALIAS

In [0]:
df = fill_null.select(col("Item_Identifier").alias("Items"),col("Item_Weight").alias("Weight"))
display(df)

### FILTER

In [0]:
df = fill_null.filter(col("Item_fat_content") == "Low Fat")
display(df)

In [0]:
df = fill_null.filter((col("Item_Type") == "Dairy") & (col("Outlet_Size") == "Small"))


display(df)

In [0]:
df = fill_null.filter(col("Item_Identifier").isNull())

display(df)

In [0]:
df = fill_null.filter(col("Outlet_Size").isin("Small","Medium"))

display(df)

### withColumnRenamed

In [0]:
df = fill_null.withColumnRenamed("Item_Weight","Weight")

df = fill_null.withColumnRenamed("Item_Weight","Weight").withColumnRenamed("Item_Fat_Content","Fat")


display(df)

### withColumn

In [0]:
df = fill_null.withColumn("new_column",lit("new_values"))

display(df)

In [0]:
df = fill_null.withColumn('Item_fat_content',regexp_replace('Item_fat_content','Low Fat','LF'))

display(df)

### Type Casting

In [0]:
df = fill_null.withColumn('Item_Visibility',col('Item_Visibility').cast('string'))

display(df)

### sort

In [0]:
df = fill_null.sort(col("Item_Weight").desc())

display(df)

In [0]:
df = fill_null.sort(col("Item_MRP").asc())

display(df)

In [0]:
df = fill_null.sort(['Item_Weight','Item_MRP'],ascending=[1,0])

display(df)

### Limit

In [0]:
df = fill_null.limit(10)

display(df)

### DROP

In [0]:
# df = fill_null.drop("Item_Identifier")

df = fill_null.drop("Item_Identifier","Item_Weight")

display(df)

In [0]:
df = fill_null.dropDuplicates()

display(df)

In [0]:
df = fill_null.dropDuplicates(['Item_Weight'])

display(df)

In [0]:
df = fill_null.distinct()

display(df)

### Union

In [0]:
schema1 = 'Id int, Name string'

data1 = [(1,'James'),(2,'Michael'),(3,'Robert')]

df1 = spark.createDataFrame(data1,schema1)

display(df1)


schema2 = 'Id int, Name string'

data2 = [(1,'James'),(2,'Michael'),(3,'Robert'),(4,'Robert')]

df2 = spark.createDataFrame(data2,schema2)

display(df2)

In [0]:
df1.union(df2).display()

In [0]:
schema1 = 'Id int, Name string'

data1 = [(1,'James'),(2,'Michael'),(3,'Robert')]

df1 = spark.createDataFrame(data1,schema1)

display(df1)


schema2 = 'Name string,Id int'

data2 = [('James',1),('Michael',2),('Robert',3)]
df2 = spark.createDataFrame(data2,schema2)

display(df2)

In [0]:
df1.unionByName(df2).display()

### String Functions

### UPPERCASE

In [0]:
df = fill_null.select(upper('Item_Type').alias('Item_Type_upper'))

display(df)

### lowercase

In [0]:
df = fill_null.select(lower('Item_Fat_Content').alias('Item_Fat_Content_lower'))

display(df)

### concat

In [0]:
df = fill_null.select(concat('Item_Fat_Content',lit('-'),'Item_Type').alias('Item_Fat_Content_Item_Type'))

display(df)

### substring

In [0]:
from pyspark.sql.functions import substr

df1 = fill_null.select(col('Item_Fat_Content'), substring(col('Item_Fat_Content'), 1, 3)).alias('Item')
display(df1)

### Date Functions

### Current_Date

In [0]:
df1 = fill_null.withColumn('curr_dates',current_date())

display(df1)

### Date_Add()

In [0]:
df1.printSchema()

In [0]:
df2 = df1.withColumn('one_week_after',date_add('curr_dates',7))

display(df2)

### Date_Sub

In [0]:
df3 = df2.withColumn('one_week_before',date_sub('curr_dates',7))

display(df3)

### DateDIFF

In [0]:
df4 = df3.withColumn('date_difference',datediff('one_week_after','curr_dates'))

display(df4)

### Date_Format()

In [0]:
df5 = df4.withColumn('one_week_after', date_format('one_week_after','dd-MM-yyyy'))

display(df5)

### SPLIT

In [0]:
df1 = fill_null.withColumn('Outlet_Type',split('Outlet_Type',' '))

display(df1)

### Indexing

In [0]:
df = fill_null.withColumn('Outlet_Type',split('Outlet_Type',' ')[1])

display(df)

### Explode

In [0]:
df2 = df1.withColumn('Outlet_Type',explode('Outlet_Type'))

display(df2)

df2.count()

In [0]:
df3 = df2.withColumn('Type1_flag', col('Outlet_Type').contains('Type1'))
display(df3)

### GroupBY

In [0]:
display(fill_null)

In [0]:
df = fill_null.groupBy('Item_Fat_content').agg(avg('Item_MRP').alias('avg_MRP'))

display(df)

In [0]:
df = fill_null.groupBy('Item_Type').agg(sum('Item_MRP').alias('sum_MRP'))

display(df)

In [0]:
df = fill_null.groupBy('Item_Fat_Content','Item_Type').agg(sum('Item_MRP').alias('sum_MRP'))

display(df)

In [0]:
df = fill_null.groupBy('Item_Fat_Content','Item_Type').agg(sum('Item_MRP'),avg('Item_MRP'))

display(df)

### Collect_List

In [0]:
schema_new = 'Users string,Books string'

data_new = [
    ("user1","book1"),
    ("user2","book5"),
    ("user1","book3"),
    ("user3","book4"),
    ("user2","book1"),
    ("user2","book2")
]

df_new = spark.createDataFrame(data_new,schema_new)

display(df_new)

In [0]:
df = df_new.groupBy('Users').agg(collect_list('Books').alias('Books'))

display(df)

### When-Otherwise

In [0]:
display(fill_null)

In [0]:
df = fill_null.withColumn('Item_Types',when(col('Item_Type') == "Meat","Non_veg").otherwise("Veg"))

display(df)

In [0]:
df = fill_null.withColumn('Outlet_Sizes',when(col('Outlet_Size') == "High","Big").otherwise("Normal"))

display(df)

### JOINS

In [0]:
sch1 = 'id int,name string,dept_id string'

dat1 = [
    (1,"suresh","d01"),
    (2,"rajesh","d02"),
    (3,"kumar","d03"),
    (4,"murugan","d03"),
    (5,"hari","d04"),
    (6,"ram","d05"),
    (7,"ganesh","d06")]

df1 = spark.createDataFrame(dat1,sch1)

display(df1)

In [0]:

sch2 = 'dept_id string,dept string'

dat2 = [
    ("d01","HR"),
    ("d02","IT"),
    ("d03","FINANCE"),
    ("d04","MARKETING"),
    ("d05","SALES"),
    ("d07","ADMIN")]

df2 = spark.createDataFrame(dat2,sch2)


display(df2)

In [0]:
df1.join(df2,df1['dept_id'] == df2['dept_id'],'inner').display()

In [0]:
df1.join(df2,df1['dept_id'] == df2['dept_id'],'left').display()

In [0]:
df1.join(df2,df1['dept_id'] == df2['dept_id'],'right').display()

In [0]:
df1.join(df2,df1['dept_id'] == df2['dept_id'],'anti').display()

### WINDOW FUNCTIONS

### ROW_NUMBER()

In [0]:
display(fill_null)

In [0]:
from pyspark.sql.window import Window

In [0]:
df = fill_null.withColumn('row no',row_number().over(Window.orderBy('Item_Identifier')))

display(df)

### RANK

In [0]:
df = fill_null.withColumn('ranks',rank().over(Window.orderBy(col('Item_Identifier').desc())))
                          

display(df)

### DENSE RANK

In [0]:
df = fill_null.withColumn('dense',dense_rank().over(Window.orderBy(col('Item_Identifier').desc())))

display(df)

### Cumulative Sum

In [0]:
df = fill_null.withColumn('sums',sum('Item_MRP').over(Window.orderBy('Item_Type')))

display(df)

In [0]:
df = fill_null.withColumn('cumsum',sum('Item_MRP').over(Window.orderBy('Item_Type').rowsBetween(Window.unboundedPreceding,Window.currentRow)))

display(df)

In [0]:
df.withColumn('totalsum',sum('Item_MRP').over(Window.orderBy('Item_Type').rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing))).display()